/* EditProfile.css */
.edit-profile-container {
    /* Basic container styles, update with actual styles later */
    max-width: 300px; /* Should match the width of the profile card for consistency */
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: white;
  }