/* CategorySelect.css */
.category-select-container {
    width: 100%;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #fff;
   
  }
  
  .category-filter-select {
    width: 100%;
   
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .category-select-label {
    display: block;
    font-weight: bold;
    color: #000000;
    font-size: 13px;
  }
  
