.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: url('../assets/homearkaplan.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .forgot-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 10px; /* Adjust the gap between the boxes */
  }
  .forgot-form h2 {
    margin-bottom: 20px;


  }
  .forgot-form h6 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 2px;
    
  }


  
  .forgot-form input,
  .forgot-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .forgot-form button {
    padding: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  .branding-container {
    
    width: 100%;
    max-width: 400px;
    margin: 0 20px; /* Adjust the gap between the boxes */
    padding: 40px;
    background: transparent;
    border: none;
    
    box-shadow: none;
    text-align: center;
  } 
  
  .branding-container h1 {
    margin-bottom: 20px;
  }
  
  .branding-container p {
    font-size: 1.1em;
  }
  .biky-image {
    /* This filter inverts the colors of the image */
    filter: invert(100%);
  }
  .reset-button {
    padding: 15px;
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Full width */
    margin-bottom: 20px; /* Margin at the bottom */
    box-sizing: border-box; /* Box sizing */
    /* Add any additional styles you want for this button */
  }
  .or-divider {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center the content horizontally */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Adds some vertical spacing */
    margin-top: 5px;
}

.or-divider span {
    padding: 0 1px; /* Add some spacing on both sides of the text */
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex-grow: 1; /* Allows the lines to grow and fill the space */
    height: 1px; /* Line thickness */
    background: rgba(0, 0, 0, 0.5); /* 50% transparent black line */
    margin: 0 5px; /* Add some spacing between the text and the lines */
}
