.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    background: url('../assets/homearkaplan.jpg') no-repeat center center;
    background-size: cover;
  }
  
  .login-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 10px; /* Adjust the gap between the boxes */
  }
  
  .login-form h2 {
    margin-bottom: 20px;


  }
  .login-form h6 {
    margin-top: 5px;
    margin-bottom: 2px;
    
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-form .continue-button {
    width: 100%;
    padding: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .login-form .visitor-button {
    width: 100%;
    padding: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .login-form .signup-link {
    text-align: center;
    color: #000;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .login-form .remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .login-form .forgot-link {
    color: #000;
    text-decoration: none;
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }

  .branding-container {
    
    width: 100%;
    max-width: 400px;
    margin: 0 20px; /* Adjust the gap between the boxes */
    padding: 40px;
    background: transparent;
    border: none;
    
    box-shadow: none;
    text-align: center;
  } 
  
  .branding-container h1 {
    margin-bottom: 20px;
  }
  
  .branding-container p {
    font-size: 1.1em;
  }
  .biky-image {
    /* This filter inverts the colors of the image */
    filter: invert(100%);
  }

  .or-divider {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    justify-content: center; /* Center the content horizontally */
    text-align: center; /* Center the text */
    margin: 20px 0; /* Adds some vertical spacing */
}

.or-divider span {
    padding: 0 1px; /* Add some spacing on both sides of the text */
}

.or-divider::before,
.or-divider::after {
    content: "";
    flex-grow: 1; /* Allows the lines to grow and fill the space */
    height: 1px; /* Line thickness */
    background: rgba(0, 0, 0, 0.5); /* 50% transparent black line */
    margin: 0 5px; /* Add some spacing between the text and the lines */
}

.form-options {
    display: flex; /* Enable flexbox */
    justify-content: space-between; /* Space out the children */
    align-items: center; /* Align items vertically */
    margin-bottom: 20px; /* Add some bottom margin */
}

.remember-me {
    text-align: center;
    display: flex; /* Enable flexbox for label */
    align-items: center; /* Align checkbox and text vertically */
}

.remember-me input[type="checkbox"] {
    margin-right: 5px; /* Space between checkbox and label */
}

.forgot-password-link {
    /* Style for your forgot password link */
    text-decoration: none; /* Optional: removes underline */
    color: #000; /* Or any color you prefer */
}
  
  
  /* Add responsiveness */
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
    }
    
    .login-form,
    .branding-container {
      max-width: 90%;
      margin: 20px 0; /* Stack them with space in between on smaller screens */
    }
  }
  