
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.create-account-aXs {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 8.3rem 22.55rem 8.3rem 20.6rem;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:97f52b83f550e2541e176d3e863fb4666ba22cfb');
  background: linear-gradient(226.33deg, rgba(33, 33, 33, 0.8392156959) 100%, rgba(66, 66, 66, 0.2392156869) 278.98%);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;

  .auto-group-cwhk-VoF {
    margin: 0rem 12.45rem 5.3rem 0rem;
    width: 42.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .removebg-preview-1-z7j {
      width: 42.4rem;
      height: 17rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.4rem;
    }
    .slide-hH3 {
      margin: 0 2.2rem;
      width: calc(100% - 4.4rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .header-dwP {
        margin-bottom: 4.8rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .building-the-future-b7X {
          line-height: 1.1999487272;
          color: #ffffff;
          flex-shrink: 0;
          margin-bottom: 2.4rem;
          display: flex;
          font-weight: 700;
          max-width: 38rem;
          font-size: 3.906rem;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        }
        .lorem-ipsum-dolor-sit-amet-co-Fhs {
          line-height: 1.7599999905;
          color: #ffffff;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 36rem;
          font-size: 1.6rem;
          font-weight: 400;
        }
      }
      .carousel-slider-AZw {
        width: 13.35rem;
        flex-shrink: 0;

        .controller-1-HuT {
          width: 4.8rem;
          height: 0.2rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
  .div-section-E41 {
    width: 46rem;
    height: 59.9878rem;
    position: relative;
    overflow: hidden;
    background-color: #fafafa;
    border-radius: 2.4rem;
    flex-shrink: 0;
    margin-bottom: 13.4122rem;

    .header-wDK {
      width: 21.5rem;
      height: 6.7rem;
      position: absolute;
      left: 3.95rem;
      top: 3.95rem;

      .lets-get-you-started-TSZ {
        font-size: 1.28rem;
        font-weight: 400;
        line-height: 1.7601562774;
        color: #000000;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        white-space: nowrap;
      }
      .create-an-account-zBb {
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 1.76;
        color: #000000;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-5-Ji5 {
      width: 38rem;
      height: 29.5rem;
      position: absolute;
      left: 4rem;
      top: 13.1rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .input-2PB {
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.9rem;
        width: 100%;
        height: 6.7rem;

        .input-9Cu {
          top: 1.1rem;
          border: solid 0.1rem rgba(64, 43, 101, 0.5);
          box-sizing: border-box;
          border-radius: 0.8rem;
          width: 38rem;
          height: 5.6rem;
          position: absolute;
          left: 0;
        }
        .johnson-doe-rND {
          width: 9.5rem;
          left: 1.6rem;
          top: 2.5rem;
          color: #757575;
          line-height: 1.7599999905;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          white-space: nowrap;
          height: 2.9rem;
          position: absolute;
          font-size: 1.6rem;
          font-weight: 400;
        }
        .label-MJy {
          align-items: center;
          justify-content: center;
          background-color: #fafafa;
          border: solid 0 rgba(64, 43, 101, 0.5);
          top: 0;
          font-weight: 400;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          width: 7.9767rem;
          position: absolute;
          display: flex;
          line-height: 1.7601562774;
          color: #757575;
          height: 2.3rem;
          left: 1.1179rem;
          text-align: center;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 1.28rem;
          white-space: nowrap;
        }
      }
      .input-copy-bz1 {
        margin-bottom: 0.9rem;
        width: 100%;
        height: 6.7rem;
        position: relative;
        flex-shrink: 0;

        .input-9kd {
          height: 5.6rem;
          position: absolute;
          left: 0;
          top: 1.1rem;
          border: solid 0.1rem #402b65;
          box-sizing: border-box;
          border-radius: 0.8rem;
          width: 38rem;
        }
        .johnsondoenomailcom-gVf {
          height: 2.9rem;
          left: 1.6rem;
          font-size: 1.6rem;
          color: #424242;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          white-space: nowrap;
          width: 21.5rem;
          position: absolute;
          top: 2.5rem;
          font-weight: 400;
          line-height: 1.7599999905;
        }
        .label-Qpy {
          font-weight: 400;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          top: 0;
          font-size: 1.28rem;
          position: absolute;
          overflow: hidden;
          color: #424242;
          background-color: #fafafa;
          width: 5.4rem;
          height: 2.3rem;
          text-align: center;
          line-height: 1.7601562774;
          align-items: center;
          left: 1.1173rem;
          white-space: nowrap;
        }
      }
      .input-copy-3-UZw {
        width: 100%;
        height: 6.7rem;
        position: relative;
        flex-shrink: 0;
        margin-bottom: 0.9rem;

        .input-cg9 {
          left: 0;
          top: 1.1rem;
          border: solid 0.1rem rgba(64, 43, 101, 0.5);
          box-sizing: border-box;
          border-radius: 0.8rem;
          width: 38rem;
          height: 5.6rem;
          position: absolute;
        }
        .ex-icon-eye-wCd {
          object-fit: contain;
          vertical-align: top;
          width: 1.6rem;
          height: 1.6rem;
          position: absolute;
          left: 35.6rem;
          top: 3.1rem;
        }
        .item--SQH {
          height: 2.9rem;
          left: 1.6rem;
          font-size: 1.6rem;
          color: #757575;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          white-space: nowrap;
          width: 12.2rem;
          position: absolute;
          top: 2.5rem;
          font-weight: 400;
          line-height: 1.7599999905;
        }
        .label-Kys {
          overflow: hidden;
          text-align: center;
          font-weight: 400;
          border: solid 0 rgba(64, 43, 101, 0.5);
          height: 2.3rem;
          position: absolute;
          line-height: 1.7601562774;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          white-space: nowrap;
          top: 0;
          align-items: center;
          justify-content: center;
          background-color: #fafafa;
          box-sizing: border-box;
          width: 6.7rem;
          left: 1.1173rem;
          font-size: 1.28rem;
          color: #757575;
          display: flex;
        }
      }
      .input-copy-2-yHj {
        height: 6.7rem;
        position: relative;
        flex-shrink: 0;
        width: 100%;

        .input-KMb {
          box-sizing: border-box;
          border-radius: 0.8rem;
          width: 38rem;
          height: 5.6rem;
          position: absolute;
          left: 0;
          top: 1.1rem;
          border: solid 0.1rem rgba(64, 43, 101, 0.5);
        }
        .ex-icon-eye-qqj {
          height: 1.6rem;
          position: absolute;
          left: 35.6rem;
          top: 3.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.6rem;
        }
        .item--mjP {
          position: absolute;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.7599999905;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          width: 12.2rem;
          left: 1.6rem;
          top: 2.5rem;
          color: #757575;
          white-space: nowrap;
          height: 2.9rem;
        }
        .label-Gw3 {
          line-height: 1.7601562774;
          justify-content: center;
          border: solid 0 rgba(64, 43, 101, 0.5);
          height: 2.3rem;
          left: 1.1173rem;
          overflow: hidden;
          font-weight: 400;
          color: #757575;
          font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
          background-color: #fafafa;
          width: 6.7rem;
          position: absolute;
          text-align: center;
          font-size: 1.28rem;
          box-sizing: border-box;
          top: 0;
          white-space: nowrap;
          display: flex;
          align-items: center;
        }
      }
    }
    .btn-pry-template-1-AFj {
      line-height: 1.7601562774;
      font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
      white-space: nowrap;
      width: 38rem;
      top: 48.8942rem;
      justify-content: center;
      font-size: 1.28rem;
      font-weight: 700;
      height: 4.6018rem;
      display: flex;
      color: #ffffff;
      border-radius: 0.8rem;
      position: absolute;
      align-items: center;
      background-color: #212121;
      left: 4rem;
    }
    .divider-label-1XF {
      left: 4rem;
      top: 54.1534rem;
      width: 38rem;
      height: 1.9616rem;
      position: absolute;

      .line-divider-wA1 {
        left: 0;
        top: 0.7601rem;
        object-fit: contain;
        vertical-align: top;
        width: 38rem;
        height: 0.1644rem;
        position: absolute;
      }
      .divider-bg-Gxy {
        width: 4.8rem;
        height: 1.6846rem;
        position: absolute;
        left: 16.6rem;
        top: 0;
        background-color: #fafafa;
      }
      .or-1vZ {
        color: #212121;
        height: 1.9rem;
        position: absolute;
        text-align: center;
        line-height: 1.4475;
        font-weight: 700;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.5rem;
        left: 18.5rem;
        top: 0.0616rem;
        font-size: 1.28rem;
      }
    }
    .already-have-an-account-login-JPs {
      left: 11.95rem;
      font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
      text-align: center;
      font-weight: 400;
      display: flex;
      position: absolute;
      height: 1.9rem;
      top: 56.4954rem;
      font-size: 1.28rem;
      line-height: 1.4479999028;
      color: #212121;
      white-space: nowrap;
      align-items: baseline;
      width: 22rem;

      .already-have-an-account-login-JPs-sub-0 {
        font-size: 1.28rem;
        font-weight: 400;
        line-height: 1.4475;
        color: #212121;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
      }
      .already-have-an-account-login-JPs-sub-1 {
        color: #212121;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        font-size: 1.28rem;
        font-weight: 700;
        line-height: 1.4475;
      }
      .already-have-an-account-login-JPs-sub-2 {
        text-decoration-line: underline;
        color: #423065;
        font-family: Zen Kaku Gothic Antique, 'Source Sans Pro';
        font-size: 1.28rem;
        font-weight: 700;
        line-height: 1.4475;
      }
    }
  }
}
