/* Comment.css */

.comment-container {
  align-items: flex-start; /* Aligns items to the top */
  gap: 20px; /* Spacing between comment and report */
  margin-bottom: 20px; /* Space between each comment */
}

.comment-item {
  flex-grow: 1; /* Allows the comment section to grow and fill available space */
  /* Add more styling as needed for the comment section */
}

.comment-report-container {
  flex-basis: 50px;
  position: absolute; /* Sets a base width for the report container */
  /* Adjust the width as needed or make it responsive */
}

.comment-item {
    max-width: 430px;
    display: flex;
    align-items: flex-start; /* Align items to the start of the flex container */
    margin-bottom: 12px; /* Adjust spacing between comments as needed */
    overflow: hidden;
    position: relative; /* Needed for absolute positioning of the delete button */

  }
  
  .comment-avatar {
    
    width: 40px; /* Adjust size as necessary */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px; /* Adjust spacing between avatar and text as needed */
  }
  
  .comment-content {
    flex-grow: 1;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
    overflow: hidden;
    margin-right: 40px; /* Provide space for the delete button */

  }
  
  .comment-author {
    font-weight: bold;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  
  .comment-text {
    color: #333;
    word-wrap: break-word;

  }
  .time-posted {
    color: #65676b;
    font-size: 0.75rem;
  }
  .shared-button-style {
    position: absolute; /* Position the delete button absolutely */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    padding: 5px; /* Adjust padding as needed */
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 3px;


  }
  .shared-button-style2 {
    position: absolute; /* Position the delete button absolutely */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    padding: 5px; /* Adjust padding as needed */
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 4px;
    margin-right: 3px;

  }
  .shared-button-style:hover{
    transform: scale(1.1);
    background-color: grey;
  }
  .shared-button-style2:hover{
    transform: scale(1.1);
    background-color: grey;
  }
  